body {
    background-image: url('img/bg.jpg');
}

.card {
    position: absolute;
    top: 10vh;
    left: 1vw;
}

#temp-chart {
    position: absolute;
    top: 5vh;
    left: 20vw;
    width:40vw;
}

#week {
    width: 250px;
    height: 750px;
    overflow: hidden;
    border: 2px solid #ccc;
    margin: 20px;
    padding: 10px;
    position: absolute;
    top: 1vh;
    right: 1vw;
}

#rain-table {
    width: 37vw;
    height: 10vh;
    position: absolute;
    top: 45vh;
    left: 22vw;
    display: flex;
}

.icon {
    width: 100%;
    height: 100%;
    /* border: 1px solid #000; */
}

.sunny {
    background: url('img/ico.png') -16px -20px;
}

.clouds {
    background: url('img/ico.png') -139px -20px;
}

.clear {
    background: url('img/ico.png') -272px -26px;
}
.snow {
    background: url('img/ico.png') -16px -150px;
}

.rain {
    background: url('img/ico.png') -16px -285px;
}

.wind {
    background: url('img/ico.png') -293px -280px;
}

.storm {
    background: url('img/ico.png') -272px -155px;
}